/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Background color of the page */
    background-image: url("../../images/IMG_0191.jpg"); /* Replace with your image file path */
    background-size: auto; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    background-position: center;
}

.image-container {
    text-align: center;
    width: 100%; /* Adjust the width of the container */
    height: 80%;
    max-height: 80%; /* Adjust the maximum height of the container */
}

.constrained-image {
    max-width: 100%; /* Keep the image within the container's width */
    max-height: 100%; /* Keep the image within the container's height */
    display: block;
    margin: 0 auto; /* Center the image horizontally within the container */
}

.back-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: red; /* Button background color */
    color: white;
    border: none;
    cursor: pointer;
}

.back-button:hover {
    background-color: gray; /* Button background color on hover */
}
